ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0px 0px 10px 0px;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: rgb(37, 70, 53);

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(37, 70, 53, 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: rgb(37, 70, 53);
}

ion-menu.md ion-item ion-icon {
  color: rgb(37, 70, 53);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: rgb(37, 70, 53);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #000;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: #000;
}

ion-item.selected {
  --color: rgb(37, 70, 53);
}

.custom-menu {
  width: 50px;
  background-color: rgb(37, 70, 53);
}

.custom-logo {
  padding: 10px;
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #fff;
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -80px;
  margin-bottom: 10px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 200px;
    border-radius: 0%;
  }

  h1 {
    font-weight: 300;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 0.4px;
  }
}