<ion-header>
  <ion-toolbar id="main-content">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Athlete Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button size="large" icon-only>
       <!-- <ion-icon name="settings"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom, top">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="metrics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Metrics</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cycle-plan">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Cycle Plan</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>