.logoutBtn {
    align-items: center;
    display: flex;
    --ion-background-color: rgb(37,70,53);
}

ion-buttons {
    ion-button {
        background-color: transparent;
    }
}

ion-tab-bar {
    background: rgb(37, 70, 53);
}

ion-tab-button {
    --color-selected: #fff;
    background-color: transparent;
}