--ion-content {
    background-color: transparent;
}

.wrappedContent {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}